.borrow{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.uppertable{
    border-radius: 20px;
    height: 300px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    justify-content: center;
   
}

.Items h2{
    font-size: 50px;
    margin-bottom: 10px;
}

.itemlist{
    font-size: 20px;
    width: 60%;
    height: 50px;
    padding: 10px;
    border: solid 1px black;
    gap: 10px;
    border-radius: 10px;
}

.quantity h2{
    font-size: 50px;
    margin-bottom: 10px;
}

.quantityitems{
    font-size: 20px;
    width: 60%;
    height: 50px;
    padding: 10px;
    border: solid 1px black;
    gap: 10px;
    border-radius: 10px;
}

.lowertable{
    border-radius: 20px;
    height: 90px;
    width: 50%;
    border: 1px white solid;
    padding: 10px;
    margin: 10px auto;
    
}

.btn{
    height: 100%;
    width: 100%;
    font-size: 50px;
    background-color: #e96d83;
    border-radius: 20px;
}